@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom App Scrollbar and global layout overrides if any */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(11, 15, 25, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgb(31 41 55);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(99 102 241);
}
